/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Checkbox interactivity prompts
input[type=checkbox]
  transition border-color 100ms

  &::after
    transition left 100ms, width 100ms, background 100ms


#editor
  // Smoother fading of borders on hover
  span
    transition background 500ms, border-color 100ms, fill 100ms

    > button
      transition background 100ms, border-color 100ms, fill 100ms

    &[editing]
      transition background 0s

  // Fade focused phrase elements from white to transparent. Helps show the user what
  // element they had just edited, expanded or collapsed
  span[data-chance], span[data-type=phrase][data-chance], span[data-type=phraseset]
    animation 2500ms expand

    &[collapsed]
      animation none

// Smoother fading of button backgrounds on hover
#toolbar button, #settingsScreen button, .chChoicesBox dd
  transition background 100ms

  &:active, &[selected]
    transition background 0s

// Throbbing call-to-action button color
.throb
  animation  3s infinite alternate throb
  transition background 100ms

  &:hover
    animation  none
    background $fgFocus !important
    box-shadow 0 0 16px darken($fgFocus, 25%) !important

@keyframes expand
  0%, 25%
    backAndForeColor($fgBright, $bgDarkest)

  to
    backAndForeColor(transparent, $fgBright)

@keyframes throb
  from
    background $fgFocus
    box-shadow 0 0 16px darken($fgFocus, 25%)

  to
    background darken($fgFocus, 60%)
    box-shadow 0 0 8px $bgDarker

