/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

.dialog
  background #111
  border     2px solid #CC7E00
  border-radius 4px
  box-shadow    2px 2px 4px #000
  position absolute
  z-index  100

  > header
    background  #CC7E00
    font-weight bold
    padding     0.5em

#platformPicker

  form
    display flex

    input, select
      flex-grow 1
      font-size x-large