/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// TODO: rename to pickers

.dialog
  flexbox(column)
  background    $bgDarker
  border        8px solid $fgFocus
  border-radius 4px
  box-shadow    8px 8px 8px alpha($bgDarkest, 0.5)
  position      absolute
  z-index       100

  > header
    background     $fgFocus
    font-weight    bold
    padding-bottom 4px

  > form
    flexbox(column)

    input, select, label
      backAndForeColor($bgDarkest, $fgBright)
      border        none
      border-radius 0
      flex-grow     1
      font-size     x-large
      padding       0.5rem

    label
      flex-grow 2

  &.fullWidth
    width  100%
    height 50%

  &.midHeight
    box-shadow 0 0 16px alpha($bgDarkest, 0.5)

  // Filterable list

  .flSearchBox
    backAndForeColor($bgDarkest, inherit)
    border    none
    font-size inherit
    padding   1rem
    width     100%

  .flItemPicker
    flex-grow 1
    overflow  auto

    dl
      display   flex
      flex-wrap wrap

    dt
      background  $bgDarkest
      box-shadow  0 5px 10px alpha($bgDarkest, 0.5)
      font-weight bold
      padding     0.5rem 1rem
      position    sticky
      top         0
      width       100%

    dd
      cursor  pointer
      display inline-block
      padding 1rem

      &:hover, &[selected]
        background $fgFocus

#coachPicker, #integerPicker, #platformPicker, #timePicker
  form
    flex-direction row

    // For some reason, integer picker controls are very wide on Chrome
    input
      width 4rem

#phrasesetPicker

  // Each phrase item needs to be full width and trimmed
  .flItemPicker dd
    display       block
    font-size     large
    overflow      hidden
    text-overflow ellipsis
    white-space   nowrap

#stationlistPicker

  // For the station list builder
  .stations
    background $bgDarkest

    dt
      color   $fgDim
      padding 1rem

    dd
      background    $bgDarker
      border-radius 8px
      cursor        move
      display       inline-block
      margin        0.5rem
      padding       0.5rem

      &:hover, &.dragover
        background $fgFocus

      &.dragging
        opacity 0.5