/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#editor
  background $bgDarker
  flex-grow  1
  font-size  3rem
  padding    1rem
  overflow-x hidden
  overflow-y auto

  // All selectable elements
  span[data-type=coach],       span[data-type=excuse], span[data-type=integer],
  span[data-type=named],       span[data-type=phrase],  span[data-type=phraseset],
  span[data-type=platform],    span[data-type=service], span[data-type=station],
  span[data-type=stationlist], span[data-type=time]
    border        2px solid transparent
    border-top    none
    border-bottom none
    border-radius 8px
    cursor        pointer
    padding       0 4px
    margin        0 4px

    &:hover
      background   alpha($bgMid, 0.1)
      border-color $fgBrightest

    &[editing]
      background $fgFocus
      color      $fgBrightest
      box-shadow 8px 8px 8px alpha($bgDarkest, 0.1)

      &.above
        border-radius 8px 8px 0 0

      &.below
        border-radius 0 0 8px 8px
        position      relative
        z-index       150

  // Unclickables
  span[data-type=phrase]
    cursor default

  // Collapsiable elements
  span[data-chance]
    padding-left 0

    > .toggle::before
      background    gradient(right, alpha(#FFF, 0.1), 0%, alpha(#333, 0), 100%)
      border-radius 8px
      color         $fgDim
      content       '-'
      cursor        pointer
      display       inline-block
      text-align    center
      width         3rem

    &:hover
      border-left-style  dotted
      border-right-style dotted

      > .toggle
        border-radius 0

    &[collapsed]
      > .toggle::before
        background none
        content    '+'

      > .inner
        display none

  // Phrasesets
  span[data-type=phraseset]
    border-left-width 8px

    &:hover
      border-left-style solid