/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#editor
  background  $bgDarker
  flex-grow   1
  font-size   48px
  line-height 125%
  // Right padding necessary due to bug with first line overflowing
  padding     16px 48px 16px 16px
  // Force vertical scrolling only
  overflow-x  hidden
  overflow-y  auto
  // Needed to prevent bottom padding from drawing text over toolbar
  z-index     0

  .bottomPadding
    display block
    height  50vh

  // All selectable elements
  span[data-type=coach],       span[data-type=excuse],  span[data-type=integer],
  span[data-type=named],       span[data-type=phraseset],
  span[data-type=platform],    span[data-type=service], span[data-type=station],
  span[data-type=stationlist], span[data-type=time],
  span[data-type=phrase][data-chance]
    border        4px solid transparent
    border-top    none
    border-bottom none
    border-radius 8px
    cursor        pointer
    padding       0 4px
    margin        0 4px

    &:hover
      background   alpha($bgMid, 0.1)
      border-color $fgBright

    &:focus
      background   alpha($bgMid, 0.1)
      border-color $fgFocus
      outline      none

    &[editing]
      background   $fgFocus
      box-shadow   8px 8px 8px alpha($bgDarkest, 0.1)
      border-color $fgFocus
      color        $fgBright

      &.above
        border-radius 8px 8px 0 0

      &.below
        border-radius 0 0 8px 8px
        position      relative
        z-index       150

  // Unclickables
  span[data-type=phrase], span[data-type=phrase][data-chance]
    cursor       default
    padding-left 0

  // Collapsiable elements
  span[data-chance], span[data-type=phrase][data-chance]
    border-left  0
    padding-left 0

    > .toggle
      rect(53px)
      border-radius  8px 0px 0px 8px
      cursor         pointer
      display        inline-block
      fill           $fgDim
      text-align     center
      vertical-align text-bottom

      svg
        rect(32px)
        padding-bottom 7px

      .plus
        display none

      .minus
        display inline-block

    &:hover
      border-color $fgFocus

      > .toggle
        backAndForeColor($fgFocus, $fgBright)

    &[collapsed]
      border-right 0

      > .toggle
        border-radius 8px
        margin-right  0

        .plus
          display inline-block

        .minus
          display none

      > .inner
        display none

  span[data-type=phraseset][data-chance]
    padding-left 0