/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#editor
  background  #222
  flex-grow   1
  font-size   3em
  padding     0.5em
  overflow-x  hidden
  overflow-y  auto

  // All selectable elements
  span[data-type=excuse],    span[data-type=integer],     span[data-type=coach],
  span[data-type=named],     span[data-type=optional],    span[data-type=phrase],
  span[data-type=phraseset], span[data-type=platform],    span[data-type=service],
  span[data-type=station],   span[data-type=stationlist], span[data-type=time]
    border        2px solid transparent
    border-top    none
    border-bottom none
    border-radius 8px
    cursor        pointer
    padding       0 4px
    margin        0 4px

    &:hover
      background   rgba(128, 128, 128, 0.1)
      border-color white

    &[editing]
      background #CC7E00
      color      white
      box-shadow 8px 8px 8px rgba(0, 0, 0, 0.5)

      &.above
        border-radius 8px 8px 0 0

      &.below
        border-radius 0 0 8px 8px
        position      relative
        z-index       150

  // Unclickables
  span[data-type=optional], span[data-type=phrase]
    cursor default

  // Optional elements
  span[data-type=optional], span[data-chance]
    padding-left 0

    > .toggle
      background    linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(51, 51, 51, 0) 100%)
      color         #AAA
      cursor        pointer
      border-radius 8px
      display       inline-block
      text-align    center
      width         1em

      &:hover
        color #F5F5F5

    &:hover
      border-left  2px dotted
      border-right 2px dotted

    &[collapsed]
      padding 0

      > .toggle
        background none

      > .inner
        display none