/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Color scheme

$bgPanic   = #C21D1D
$bgDarkest = #000
$bgDarker  = #222
$bgDark    = #444
$bgMid     = #808080

$fgMarquee   = orange
$fgFocus     = #CC7E00
$fgConfirm   = greenyellow
$fgBrightest = white
$fgBright    = whitesmoke
$fgDim       = #AAA

// Functions

hoverable()
  &:hover
    background $bgDark

pressable()
  hoverable()
  background  $bgDarker
  border      none
  box-shadow  0 0 8px $bgDarker
  color       whitesmoke
  cursor      pointer
  fill        whitesmoke

  &:active
    backAndForeColor($bgDarkest, $fgDim)
    box-shadow 0 0 4px $bgDarkest inset

  &:disabled
    background $bgDarker !important
    color      $bgDark   !important
    cursor     default   !important
    fill       $bgDark   !important

    &:active
      background $bgDarker

backAndForeColor($bg = $bgDarkest, $fg = $fgBright)
  background $bg
  color      $fg
  fill       $fg

flexbox($dir = row, $justify = flex-start)
  display         flex
  flex-direction  $dir
  justify-content $justify

// TODO: Apply this where needed
glow($color = $fgFocus, $inset = true)
  text-shadow 0 0 5px $color

  if $inset
    box-shadow 0 0 5px $color, 0 0 5px $color inset
  else
    box-shadow 0 0 5px $color

gradient($dir, $col1, $stop1, $col2, $stop2)
  linear-gradient(to $dir, $col1 $stop1, $col2 $stop2)

// TODO: Apply this where needed
rect($width, $height = $width)
  width  $width
  height $height

// Mixins

no-appearance()
  appearance         none
  -moz-appearance    none
  -webkit-appearance none

singleLine()
  overflow      hidden
  text-overflow ellipsis
  white-space   nowrap

unselectable()
  -webkit-user-select none
  -khtml-user-select  none
  -moz-user-select    none
  -ms-user-select     none
  user-select         none

// Global controls

input[type=range]
  no-appearance()
  background none
  cursor     pointer
  position   relative

  &::before
    content ' '
    display block
    width 100%
    height 3px
    background $fgFocus
    position absolute
    top 14px

  &::-webkit-slider-runnable-track
    background none
    border     none

  &::-webkit-slider-thumb
    rect(32px)
    no-appearance()
    background $bgDarker
    border 2px solid $fgFocus
    border-radius 16px
    position relative

// Global classes

.hidden
  display none !important

.warningScreen
  height  100%
  padding 16px
  width   100%

  h1
    font-style italic

  p, pre
    line-height 150%
    margin      16px