/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Color scheme

$bgPanic   = #C21D1D
$bgDarkest = #000
$bgDarker  = #222
$bgDark    = #444
$bgMid     = #808080

$fgMarquee   = orange
$fgFocus     = #CC7E00
$fgBrightest = white
$fgBright    = whitesmoke
$fgDim       = #AAA

// Functions

hoverable()
  &:hover
    background $bgDark

pressable()
  hoverable()
  background  $bgDarker
  border      none
  box-shadow  0 0 8px $bgDarker
  color       whitesmoke
  cursor      pointer
  fill        whitesmoke

  &:active
    color      $fgDim
    box-shadow 0 0 4px $bgDarkest inset
    fill       $fgDim

  &:disabled
    background $bgDarker
    color      $bgDark
    cursor     default
    fill       $bgDark

    &:active
      background $bgDarker

backAndForeColor($bg = $bgDarkest, $fg = $fgBright)
  background $bg
  color      $fg
  fill       $fg

gradient($dir, $col1, $stop1, $col2, $stop2)
  linear-gradient(to $dir, $col1 $stop1, $col2 $stop2)

flexbox($dir = row, $justify = flex-start)
  display         flex
  flex-direction  $dir
  justify-content $justify

singleLine()
  overflow      hidden
  text-overflow ellipsis
  white-space   nowrap

unselectable()
  -webkit-user-select none
  -khtml-user-select  none
  -moz-user-select    none
  -ms-user-select     none
  user-select         none

// Global classes

.hidden
  display none !important

.warningScreen
  flex-grow 1
  padding   16px

  h1
    font-style italic

  p, pre
    line-height 150%
    margin      16px