/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

pressable()
  background  #222
  border      none
  box-shadow  0 0 8px #222
  color       whitesmoke
  cursor      pointer
  fill        whitesmoke

activePressable()
  color      #AAA
  box-shadow 0 0 4px #000 inset
  fill       #AAA

.hidden
  display none !important
