/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Must be up here, else CSS will fail to load the font
@import "font/5by7.css"
// Must be up here, else global function calls will fail elsewhere (order is important)
@import "globals"
@import "editor"
@import "marquee"
@import "pickers"
@import "toolbar"
@import "settings"

// CSS reset

*
  margin     0
  padding    0
  box-sizing border-box

body, html
  width    100%
  height   100%
  overflow hidden

// Screens

body
  backAndForeColor($bgDark, $fgBright)
  font-family sans-serif

#mainScreen
  flexbox(column)
  height 100%

// Hides embedded phraseset XML documents
iframe
  display none

#tooSmallScreen
  display none

#panicScreen
  background $bgPanic

// Responsive

@media (max-width 500px)
  @import "responsive"

@media (max-height 400px)
  #mainScreen, .picker, #settingsScreen
    display none

  #tooSmallScreen
    display block

// Animations
@import "animations"

// Platform-specific fixes
@import "fixes/iOS"