/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

@import "font/5by7.css"
@import "dialogs.styl"
@import "editor.styl"
@import "signage.styl"

// CSS reset

*
  margin     0
  padding    0
  box-sizing border-box

body, html
  width  100%
  height 100%

// Classes

pressable()
  background  #222
  border      none
  box-shadow  0 0 8px #222
  cursor      pointer

activePressable()
  color      #AAA
  box-shadow 0 0 4px #000 inset
  fill       #AAA

.hidden
  display none

// Parts

body
  background     black
  color          whitesmoke
  fill           whitesmoke
  display        flex
  flex-direction column

#toolbar
  background      linear-gradient(to bottom, #444 50%, #222 100%)
  display         flex
  justify-content center
  min-height      2.5em
  padding-bottom  0.5em

#toolbar > button
  pressable()
  font-weight bold
  list-style  none
  margin      0 1em
  padding     0.5em

  &:active
    activePressable()

  svg
    width  24px
    height 24px

iframe
  display none

.panic
  background #C21D1D
  flex-grow  1
  padding    1em

  h1
    font-style italic

  p
    margin 1em