/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */
@import "font/5by7.css";
.hidden {
  display: none !important;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.warningScreen {
  flex-grow: 1;
  padding: 16px;
}
.warningScreen h1 {
  font-style: italic;
}
.warningScreen p {
  line-height: 150%;
  margin: 16px;
}
#editor {
  background: #222;
  flex-grow: 1;
  font-size: 48px;
  padding: 16px 48px 16px 16px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
}
#editor .bottomPadding {
  display: block;
  height: 50vh;
}
#editor span[data-type=coach],
#editor span[data-type=excuse],
#editor span[data-type=integer],
#editor span[data-type=named],
#editor span[data-type=phrase],
#editor span[data-type=phraseset],
#editor span[data-type=platform],
#editor span[data-type=service],
#editor span[data-type=station],
#editor span[data-type=stationlist],
#editor span[data-type=time] {
  border: 2px solid transparent;
  border-top: none;
  border-bottom: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 4px;
  margin: 0 4px;
}
#editor span[data-type=coach]:hover,
#editor span[data-type=excuse]:hover,
#editor span[data-type=integer]:hover,
#editor span[data-type=named]:hover,
#editor span[data-type=phrase]:hover,
#editor span[data-type=phraseset]:hover,
#editor span[data-type=platform]:hover,
#editor span[data-type=service]:hover,
#editor span[data-type=station]:hover,
#editor span[data-type=stationlist]:hover,
#editor span[data-type=time]:hover {
  background: rgba(128,128,128,0.1);
  border-color: #fff;
}
#editor span[data-type=coach][editing],
#editor span[data-type=excuse][editing],
#editor span[data-type=integer][editing],
#editor span[data-type=named][editing],
#editor span[data-type=phrase][editing],
#editor span[data-type=phraseset][editing],
#editor span[data-type=platform][editing],
#editor span[data-type=service][editing],
#editor span[data-type=station][editing],
#editor span[data-type=stationlist][editing],
#editor span[data-type=time][editing] {
  background: #cc7e00;
  color: #fff;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
}
#editor span[data-type=coach][editing].above,
#editor span[data-type=excuse][editing].above,
#editor span[data-type=integer][editing].above,
#editor span[data-type=named][editing].above,
#editor span[data-type=phrase][editing].above,
#editor span[data-type=phraseset][editing].above,
#editor span[data-type=platform][editing].above,
#editor span[data-type=service][editing].above,
#editor span[data-type=station][editing].above,
#editor span[data-type=stationlist][editing].above,
#editor span[data-type=time][editing].above {
  border-radius: 8px 8px 0 0;
}
#editor span[data-type=coach][editing].below,
#editor span[data-type=excuse][editing].below,
#editor span[data-type=integer][editing].below,
#editor span[data-type=named][editing].below,
#editor span[data-type=phrase][editing].below,
#editor span[data-type=phraseset][editing].below,
#editor span[data-type=platform][editing].below,
#editor span[data-type=service][editing].below,
#editor span[data-type=station][editing].below,
#editor span[data-type=stationlist][editing].below,
#editor span[data-type=time][editing].below {
  border-radius: 0 0 8px 8px;
  position: relative;
  z-index: 150;
}
#editor span[data-type=phrase] {
  cursor: default;
}
#editor span[data-chance] {
  padding-left: 0;
}
#editor span[data-chance] > .toggle::before {
  background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(51,51,51,0) 100%);
  border-radius: 8px;
  color: #aaa;
  content: '-';
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 48px;
}
#editor span[data-chance]:hover {
  border-left-style: dotted;
  border-right-style: dotted;
}
#editor span[data-chance]:hover > .toggle {
  border-radius: 0;
}
#editor span[data-chance][collapsed] > .toggle::before {
  background: none;
  content: '+';
}
#editor span[data-chance][collapsed] > .inner {
  display: none;
}
#editor span[data-type=phraseset] {
  border-left-width: 8px;
  padding-left: 8px;
}
#editor span[data-type=phraseset]:hover {
  border-left-style: solid;
}
#editor span[data-type=phraseset][data-chance] {
  padding-left: 0;
}
#marquee {
  border: 24px solid;
  border-color: #222 #444 #444 #222;
  background: #000;
  color: #ffa500;
  flex-shrink: 0;
  font-family: "5by7", sans-serif;
  font-size: 48px;
  line-height: 84px;
  min-height: 128px;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  white-space: nowrap;
}
#marquee > span {
  position: absolute;
}

.flItemPicker dt
{
  position: sticky;
  position: -webkit-sticky;
}
.picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #222;
  border: 8px solid #cc7e00;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
}
.picker > header {
  background: #cc7e00;
  font-weight: bold;
  padding-bottom: 4px;
}
.picker > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.picker > form input,
.picker > form select,
.picker > form label {
  background: #000;
  color: #f5f5f5;
  fill: #f5f5f5;
  border: none;
  border-radius: 0;
  flex-grow: 1;
  font-size: x-large;
  padding: 8px;
}
.picker > form label {
  flex-grow: 2;
}
.picker.fullWidth {
  width: 100%;
  height: 50%;
}
.picker.modal {
  box-shadow: 0 0 32px #000;
  height: 90%;
  width: 90%;
}
.picker .flSearchBox {
  background: #000;
  color: inherit;
  fill: inherit;
  border: none;
  font-size: inherit;
  padding: 16px;
  width: 100%;
}
.picker .flItemPicker {
  flex-basis: 100%;
  overflow: auto;
}
.picker .flItemPicker dl {
  display: flex;
  flex-wrap: wrap;
}
.picker .flItemPicker dt {
  background: #000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  font-weight: bold;
  padding: 8px 16px;
  top: 0;
  width: 100%;
}
.picker .flItemPicker dd {
  cursor: pointer;
  display: inline-block;
  padding: 16px;
}
.picker .flItemPicker dd:hover,
.picker .flItemPicker dd[selected] {
  background: #cc7e00;
}
#coachPicker form,
#integerPicker form,
#platformPicker form,
#timePicker form {
  flex-direction: row;
}
#coachPicker form input,
#integerPicker form input,
#platformPicker form input,
#timePicker form input {
  width: 64px;
}
#phrasesetPicker .flItemPicker dd {
  display: block;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#stationlistPicker #btnCloseStationListPicker {
  display: none;
}
#stationlistPicker .stations {
  background: #000;
  flex-shrink: 0;
  max-height: 40%;
  overflow: auto;
}
#stationlistPicker .stations dt {
  color: #aaa;
  padding: 16px;
}
#stationlistPicker .stations dd {
  background: #222;
  border-radius: 8px;
  border-right: 2px solid #cc7e00;
  cursor: move;
  display: inline-block;
  margin: 8px;
  padding: 8px;
}
#stationlistPicker .stations dd:hover,
#stationlistPicker .stations dd.dragover {
  background: #cc7e00;
}
#stationlistPicker .stations dd.dragging {
  opacity: 0.5;
}
#stationlistPicker .stations dd button {
  display: none;
}
#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, #444 50%, #222 100%);
  flex-shrink: 0;
  height: 48px;
  padding-bottom: 16px;
}
#toolbar > button {
  background: #222;
  border: none;
  box-shadow: 0 0 8px #222;
  color: #f5f5f5;
  cursor: pointer;
  fill: #f5f5f5;
  height: 42px;
  margin: 0 12px;
  padding: 8px;
}
#toolbar > button:hover {
  background: #333;
}
#toolbar > button:active {
  color: #aaa;
  box-shadow: 0 0 4px #000 inset;
  fill: #aaa;
}
#toolbar > button:disabled {
  background: #222;
  color: #444;
  cursor: default;
  fill: #444;
}
#toolbar > button:disabled:active {
  background: #222;
}
#toolbar > button svg {
  width: 24px;
  height: 24px;
}
#settings {
  align-content: flex-start;
  background: rgba(0,0,0,0.75);
  display: none;
  flex-flow: row wrap;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  transform: translateZ(16px);
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#settings button {
  background: #222;
  border: none;
  box-shadow: 0 0 8px #222;
  color: #f5f5f5;
  cursor: pointer;
  fill: #f5f5f5;
  font-size: large;
  height: 48px;
  margin: 16px;
}
#settings button:hover {
  background: #333;
}
#settings button:active {
  color: #aaa;
  box-shadow: 0 0 4px #000 inset;
  fill: #aaa;
}
#settings button:disabled {
  background: #222;
  color: #444;
  cursor: default;
  fill: #444;
}
#settings button:disabled:active {
  background: #222;
}
#settings #btnResetSettings {
  flex: 4;
}
#settings #btnSaveSettings {
  flex: 6;
}
#settings #btnVoxTest {
  grid-column: 2;
}
#settings h1 {
  border-bottom: 2px solid #cc7e00;
  flex: 100%;
  font-size: xx-large;
  padding: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
#settings p {
  column-count: 2;
  column-gap: 24px;
  flex: 100%;
  font-size: small;
  line-height: 175%;
  padding: 24px;
  text-align: justify;
}
#settings form {
  display: grid;
  flex: 1;
  grid-template-columns: 40% 60%;
}
#settings form label,
#settings form select,
#settings form input {
  flex: 1;
  font-size: large;
  margin: 24px;
  width: auto;
}
#settings form select {
  justify-self: right;
  width: 75%;
}
.settingsVisible > #marquee,
.settingsVisible > #toolbar,
.settingsVisible > #editor,
.settingsVisible > .picker {
  filter: blur(10px);
}
.settingsVisible #settings {
  display: flex;
}
* {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #444;
  color: #f5f5f5;
  fill: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
}
iframe {
  display: none;
}
#tooSmallScreen {
  display: none;
}
#panicScreen {
  background: #c21d1d;
}
@media (max-width: 500px) {
  * {
    cursor: pointer !important;
  }
  #marquee {
    background: #000;
    border: none;
    border-bottom: 8px solid #444;
    font-size: 32px;
    line-height: 50px;
    min-height: 56px;
    padding: 0 12px;
  }
  #toolbar {
    background: #444;
    height: auto;
    padding: 0 0 8px 0;
  }
  #toolbar > button {
    flex-grow: 1;
    height: auto;
    margin: 0;
    padding-top: 12px;
  }
  #toolbar > button svg {
    width: 18px;
    height: 18px;
  }
  #editor {
    font-size: x-large;
    padding: 12px 40px 12px 12px;
  }
  #editor span {
    perspective: 1000;
    -webkit-perspective: 1000;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  #editor span[data-type=coach],
  #editor span[data-type=excuse],
  #editor span[data-type=integer],
  #editor span[data-type=named],
  #editor span[data-type=phrase],
  #editor span[data-type=phraseset],
  #editor span[data-type=platform],
  #editor span[data-type=service],
  #editor span[data-type=station],
  #editor span[data-type=stationlist],
  #editor span[data-type=time] {
    background: rgba(128,128,128,0.1);
    border-color: #fff;
  }
  #editor span[data-chance] {
    border-left-style: dotted;
    border-right-style: dotted;
  }
  #editor span[data-chance] > .toggle::before {
    width: 32px;
  }
  #editor span[data-type=phraseset] {
    border-left-style: solid;
    border-left-width: 16px;
  }
  #editor span[data-type=phraseset][collapsed] {
    border-left-width: 4px;
  }
  .picker {
    border-radius: 0;
    border-width: 4px 0 4px 0;
    box-shadow: none;
  }
  .picker > header {
    font-size: small;
    padding: 0 4px 4px 4px;
  }
  .picker > form input,
  .picker > form select,
  .picker > form label {
    font-size: medium;
    padding: 4px;
  }
  .picker.modal {
    border-top: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
  }
  .picker.modal > header {
    align-items: center;
    display: flex;
    height: 48px;
    padding: 8px;
  }
  .picker .flSearchBox {
    font-size: smaller;
    padding: 8px;
  }
  .picker .flItemPicker {
    font-size: smaller;
  }
  .picker .flItemPicker dt {
    padding: 5px 8px;
    font-size: smaller;
    transform: translateY(-1px);
  }
  .picker .flItemPicker dd {
    padding: 8px;
  }
  #phrasesetPicker .flItemPicker dd {
    font-size: smaller;
    padding: 12px 8px;
  }
  #stationlistPicker > header {
    justify-content: space-between;
    padding: 12px 8px 8px 8px;
  }
  #stationlistPicker > header #btnCloseStationListPicker {
    background: none;
    border: none;
    display: block;
  }
  #stationlistPicker > header #btnCloseStationListPicker svg {
    width: 24px;
    height: 24px;
  }
  #stationlistPicker .stations {
    font-size: smaller;
  }
  #stationlistPicker .stations dt {
    padding: 8px;
  }
  #stationlistPicker .stations dd {
    border: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  #stationlistPicker .stations dd:hover {
    background: #222;
  }
  #stationlistPicker .stations dd:focus {
    background: #cc7e00;
    display: flex;
    padding: 0 8px;
  }
  #stationlistPicker .stations dd:focus button {
    background: none;
    color: #fff;
    fill: #fff;
    border: none;
    display: inline-block;
    font-size: x-large;
    margin-bottom: 2px;
    width: 24px;
    height: 24px;
  }
  #stationlistPicker .stations dd:focus .moveDown {
    margin-left: 8px;
  }
  #stationlistPicker .stations dd:focus span {
    flex-basis: 100%;
    padding-top: 12px;
    text-align: center;
  }
  #settings button {
    font-size: smaller;
    height: 32px;
    margin: 8px;
  }
  #settings #btnResetSettings {
    flex: 1;
  }
  #settings #btnSaveSettings {
    flex: 1;
  }
  #settings h1 {
    font-size: large;
    padding: 12px;
  }
  #settings p {
    column-count: 1;
    font-size: smaller;
    padding-top: 8px;
  }
  #settings form {
    grid-template-columns: 25% 75%;
  }
  #settings form label,
  #settings form select,
  #settings form input {
    font-size: medium;
    margin: 12px;
  }
  #settings form select {
    justify-self: end;
    overflow: hidden;
    width: 75%;
  }
}
@media (max-height: 400px) {
  #marquee,
  #toolbar,
  #editor,
  .picker,
  .settingsVisible #settings {
    display: none;
  }
  #tooSmallScreen {
    display: block;
  }
}
/*# sourceMappingURL=css/index.css.map */