/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Must be up here, else CSS will fail to load the font
@import "font/5by7.css"
// Must be up here, else global function calls will fail elsewhere (order is important)
@import "globals"
@import "dialogs"
@import "editor"
@import "marquee"
@import "settings"

// CSS reset

*
  // Fix overflow elements not scrolling properly in Safari
  -webkit-overflow-scrolling touch

  margin     0
  padding    0
  box-sizing border-box

body, html
  width    100%
  height   100%
  overflow hidden

// Parts

body
  backAndForeColor($bgDark, $fgBright)
  flexbox(column)
  font-family sans-serif

#toolbar
  flexbox(row, center)
  background     gradient(bottom, $bgDark, 50%, $bgDarker, 100%)
  flex-shrink    0
  height         48px
  padding-bottom 16px

  > button
    pressable()
    height  48px
    margin  0 12px
    padding 8px

    svg
      width  24px
      height 24px

iframe
  display none

#sizeWarning
  display none

.panic
  background $bgPanic

// Responsive

@media (max-width 500px)
  @import "responsive"

@media (max-height 400px)
  #marquee, #toolbar, #editor, .picker, .settingsVisible #settings
    display none

  #sizeWarning
    display block