/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Styles for the electronic board signage and marquee animation

#marquee
  border       24px solid
  border-color $bgDarker $bgDark $bgDark $bgDarker
  background   $bgDarkest
  color        $fgMarquee
  flex-shrink  0
  font-family  "5by7", sans-serif
  font-size    48px
  min-height   128px
  overflow     hidden
  padding      24px
  position     relative
  white-space  nowrap

  > span
    position absolute