/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

.picker
  flexbox(column)
  background    $bgDarker
  border        8px solid $fgFocus
  border-radius 4px
  position      absolute
  z-index       100

  > header
    unselectable()
    background     $fgFocus
    font-weight    bold
    padding-bottom 4px

  > form
    flexbox(column)
    height   100%
    overflow auto

    input, select, label
      backAndForeColor($bgDarkest, $fgBright)
      border        none
      border-radius 0
      flex-grow     1
      font-size     x-large
      padding       8px

    label
      unselectable()
      flex-grow 2

  &.fullWidth
    width  100%
    height 50%

  &.modal
    box-shadow 0 0 32px $bgDarkest
    height     90%
    width      90%

  // Filterable list

  .chooser
    flexbox(column)
    flex-grow 1
    height    100%
    overflow  auto

    .chSearchBox
      backAndForeColor($bgDarkest, inherit)
      border    none
      font-size inherit
      padding   16px
      width     100%

    .chChoicesBox
      flex-basis 100%
      overflow   auto

      dt, dd
        unselectable()

      dl
        display   flex
        flex-wrap wrap

      dt
        background  $bgDarkest
        box-shadow  0 5px 10px alpha($bgDarkest, 0.5)
        font-weight bold
        padding     8px 16px
        position    sticky
        top         0
        // Fixes 1 pixel line offset in various browsers
        transform   translateY(-1px)
        width       100%

      dd
        cursor  pointer
        display inline-block
        padding 16px

        &:hover, &[selected]
          background $fgFocus

#coachPicker, #integerPicker, #platformPicker, #timePicker
  form
    flex-direction row

    // For some reason, integer picker controls are very wide on Chrome
    input
      width 64px

#phrasesetPicker

  // Each phrase item needs to be full width and trimmed
  .chChoicesBox dd
    singleLine()
    display   block
    font-size large

#stationlistPicker

  // Only show close button on mobile
  #btnCloseStationListPicker
    display none

  form
    flex-direction row

    // For the station list builder
    .stationList
      flexbox(column)
      background $bgDarkest
      flex-basis 30%

      .addStation, .delStation
        flex-shrink 0
        height      32px
        margin      4px

      // Only shown on mobile displays
      .addStation
        pressable()
        display none

      .delStation
        unselectable()
        border      2px solid $fgFocus
        line-height 28px
        padding     8px auto
        text-align  center

        dd
          display none

      // For the empty list notification
      p
        unselectable()
        color   $fgDim
        padding 16px

      // For the actual, sortable list of stations
      dl
        flex-grow  1
        overflow-x hidden
        overflow-y auto

        // For each station in the list
        dd
          singleLine()
          unselectable()
          background $bgDarker
          border     2px solid $bgDarker
          cursor     move
          margin     4px
          padding    6px

          &::before
            color       $bgDark
            content     '≡'
            float       right
            margin-left 8px

      // Draggable library classes
      .draggable-mirror
        opacity 0.5

      .draggable--original
        display none

      .draggable-source--is-dragging
        backAndForeColor(none, black)
        border 2px solid $bgDark

      .delStation.draggable-container--over
        background $fgFocus

    .chooser
      flex-basis 70%
      flex-grow  0
      height     auto