/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

.picker
  flexbox(column)
  background    $bgDarker
  border        8px solid $fgFocus
  border-radius 4px
  position      absolute
  z-index       100

  > header
    unselectable()
    background     $fgFocus
    font-weight    bold
    padding-bottom 4px

  > form
    flexbox(column)
    height   100%
    overflow hidden

    input, select, label
      backAndForeColor($bgDarkest, $fgBright)
      border        none
      border-radius 0
      font-size     x-large
      // Fix https://bugzilla.mozilla.org/show_bug.cgi?id=1088586
      min-width     0
      padding       8px

    label
      unselectable()

  &.fullWidth
    size(100%, 50%)

  &.modal
    size(90%)
    box-shadow 0 0 32px $bgDarkest

  // Filterable list

  .chooser
    flexbox(column)
    flex-grow 1
    height    100%
    overflow  auto

    .chSearchBox
      backAndForeColor($bgDarkest, inherit)
      border    none
      font-size inherit
      padding   16px
      width     100%

    .chChoicesBox
      flex-basis 100%
      overflow   auto

      dt, dd
        unselectable()

      dl
        display   flex
        flex-wrap wrap

      dt
        background  $bgDarkest
        box-shadow  0 5px 10px alpha($bgDarkest, 0.5)
        font-weight bold
        padding     8px 16px
        position    sticky
        top         0
        // Fixes 1 pixel line offset in various browsers
        transform   translateY(-1px)
        width       100%

      dd
        hoverable()
        cursor  pointer
        display inline-block
        padding 16px

        &[selected]
          background $fgFocus

        &[disabled]
          color  $fgDim
          cursor default

          &:hover
            background none

#coachPicker, #integerPicker, #platformPicker, #timePicker
  form
    flex-direction row

#coachPicker form select,
#timePicker form input
  flex-grow 1

#integerPicker
  form
    input
      max-width 100px

    label
      flex-grow 1

#phrasesetPicker

  // Each phrase item needs to be full width and trimmed
  .chChoicesBox dd
    singleLine()
    display   block
    font-size large

#platformPicker
  form
    input, select
      flex-basis 50%
      max-width  100px

#timePicker
  // Fix extra-wide time input on Chrome
  form input
    width 100px

#stationlistPicker
  form
    flex-direction row

    // For the station list builder
    .stationList
      flexbox(column)
      background $bgDarkest
      flex-basis 30%

      menu, .delStation
        flex-shrink 0

      // Only shown on mobile displays
      menu
        display none

        .addStation, .closePicker
          pressable()
          flex-basis 50%
          margin     4px 4px
          padding    8px

        .addStation
          margin-right 2px

        .closePicker
          margin-left 2px

      .delStation
        unselectable()
        border      2px solid $fgFocus
        line-height 28px
        margin      4px
        padding     8px auto
        text-align  center

        dd
          display none

      // For the empty list notification
      p
        unselectable()
        color   $fgDim
        padding 16px

      // For the actual, sortable list of stations
      dl
        flex-grow  1
        overflow-x hidden
        overflow-y auto

        // For each station in the list
        dd
          hoverable()
          singleLine()
          unselectable()
          background $bgDarker
          border     2px solid $bgDarker
          cursor     move
          margin     4px
          padding    6px

          &::before
            color       $bgDark
            content     '≡'
            float       right
            margin-left 8px

          &:hover
            border-color $bgDark

            &::before
              color $bgDarker

      // Draggable library classes
      .draggable-mirror
        opacity 0.5

      .draggable--original
        display none

      .draggable-source--is-dragging,
      .draggable-source--is-dragging:hover
        backAndForeColor(none, black)
        border 2px solid $bgDark

      .delStation.draggable-container--over
        background $fgFocus

    .chooser
      flex-basis 70%
      flex-grow  0
      height     auto