/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#marquee
  background    $bgDarkest
  border        none
  border-bottom 8px solid $bgDark
  font-size     32px
  line-height   50px
  min-height    56px
  padding       0 12px

#toolbar
  background $bgDark
  height     auto
  padding    0 0 8px 0

  > button
    flex-grow   1
    height      auto
    margin      0
    padding-top 12px

    svg
      width  18px
      height 18px

#editor
  font-size xx-large
  padding   12px 40px 12px 12px

  // All selectable elements
  span[data-type=coach],       span[data-type=excuse],  span[data-type=integer],
  span[data-type=named],       span[data-type=phraseset],
  span[data-type=platform],    span[data-type=service], span[data-type=station],
  span[data-type=stationlist], span[data-type=time],
  span[data-type=phrase][data-chance]
    background    alpha($bgMid, 0.1)
    border        3px solid $fgBright
    border-top    none
    border-bottom none
    border-radius 8px
    padding       0 2px
    margin        0 2px

  // Elements with buttons
  span[data-type=phraseset], span[data-chance], span[data-type=phrase][data-chance]
    border-color $fgFocus
    border-left  0
    padding-left 0

    > button, > button:first-child
      backAndForeColor($fgFocus, $fgBright)
      rect(38px)

      svg
        rect(20px)
        padding-bottom 4px

    &[collapsed]
      padding 0

.picker
  border-radius 0
  border-width  4px 0 4px 0
  box-shadow    none

  > header
    font-size small
    padding   0 4px 4px 4px

  > form
    input, select, label
      font-size medium
      padding   4px

  &.modal
    border-top 0
    box-shadow none
    height     100%
    width      100%

    > header
      padding 8px

  .chooser
    .chSearchBox
      font-size smaller
      padding   8px

    .chChoicesBox
      font-size smaller

      dt
        padding   5px 8px
        font-size smaller

      dd
        padding 8px

#phrasesetPicker
  .chChoicesBox dd
    font-size smaller
    padding   12px 8px

#platformPicker
  form
    input, select
      max-width initial

#stationlistPicker
  form
    flex-direction column

    .stationList
      flex-grow 1
      font-size smaller

      menu
        display flex

      dl
        dd
          margin 0 0 2px 0

    .chooser
      display   none
      flex-grow 1

  &.addingStation
    .stationList
      display none

    .chooser
      display flex

#settingsScreen
  button
    font-size smaller
    height    32px
    margin    8px

  form
    label, select, input
      font-size medium
      margin    12px

    // Select elements do not correctly size on any browser
    select
      width 80%
      width -webkit-fill-available
      width -moz-available

    p
      font-size smaller
      margin    0 12px 12px

  h1
    font-size large
    padding   12px

  #settingsMenu
    #btnResetSettings
      flex 1

    #btnSaveSettings
      flex 1

  #aboutBlock
    column-count 1
    font-size    smaller
    padding-top  8px


