/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#marquee
  background    $bgDarkest
  border        none
  border-bottom 8px solid $bgDark
  font-size     32px
  line-height   50px
  min-height    56px
  padding       0 12px

#toolbar
  background $bgDark
  height     auto
  padding    0 0 8px 0

  > button
    flex-grow   1
    height      auto
    margin      0
    padding-top 12px

    svg
      width  18px
      height 18px

#editor
  font-size x-large
  padding   12px 40px 12px 12px

  // All selectable elements
  span[data-type=coach],       span[data-type=excuse],  span[data-type=integer],
  span[data-type=named],       span[data-type=phrase],  span[data-type=phraseset],
  span[data-type=platform],    span[data-type=service], span[data-type=station],
  span[data-type=stationlist], span[data-type=time]
    background   alpha($bgMid, 0.1)
    border-color $fgBrightest

  // Collapsiable elements
  span[data-chance]
    border-left-style  dotted
    border-right-style dotted

    > .toggle::before
      width 32px

  // Phrasesets
  span[data-type=phraseset]
    border-left-style solid
    border-left-width 16px

    &[collapsed]
      border-left-width 4px

.picker
  border-radius 0
  border-width  4px 0 4px 0
  box-shadow    none

  > header
    font-size small
    padding   0 4px 4px 4px

  > form
    input, select, label
      font-size medium
      padding   4px

  &.modal
    border-top 0
    box-shadow none
    height     100%
    width      100%

    > header
      padding 8px

  .chooser
    .chSearchBox
      font-size smaller
      padding   8px

    .chChoicesBox
      font-size smaller

      dt
        padding   5px 8px
        font-size smaller

      dd
        padding 8px

#phrasesetPicker
  .chChoicesBox dd
    font-size smaller
    padding   12px 8px

#platformPicker
  form
    input, select
      max-width initial

#stationlistPicker
  form
    flex-direction column

    .stationList
      flex-grow 1
      font-size smaller

      menu
        display flex

      dl
        dd
          margin 0 0 2px 0

    .chooser
      display   none
      flex-grow 1

  &.addingStation
    .stationList
      display none

    .chooser
      display flex

#settingsScreen
  button
    font-size smaller
    height    32px
    margin    8px

  #btnResetSettings
    flex 1

  #btnSaveSettings
    flex 1

  h1
    font-size large
    padding   12px

  p
    column-count 1
    font-size    smaller
    padding-top  8px

  form
    grid-template-columns 25% 75%

    label, select, input
      font-size medium
      margin    12px

    select
      justify-self end
      overflow     hidden
      width        75%
