/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Workaround for click events not bubbling in iOS
// http://gravitydept.com/blog/js-click-event-bubbling-on-ios
*
  cursor pointer !important

body
  background $bgDark

#marquee
  background    $bgDarkest
  border        none
  border-bottom 0.5rem solid $bgDark
  font-size     2rem
  min-height    3.5rem
  padding       0.75rem

#toolbar
  background $bgDark
  height     auto
  padding    0 0 0.5rem 0

  > button
    flex-grow   1
    height      auto
    margin      0
    padding-top 0.75rem

    svg
      width  1.2rem
      height 1.2rem

#editor
  font-size 2rem

  // All selectable elements
  span[data-type=coach],       span[data-type=excuse],  span[data-type=integer],
  span[data-type=named],       span[data-type=phrase],  span[data-type=phraseset],
  span[data-type=platform],    span[data-type=service], span[data-type=station],
  span[data-type=stationlist], span[data-type=time]
    background   alpha($bgMid, 0.1)
    border-color $fgBrightest

  // Collapsiable elements
  span[data-chance]
    border-left-style  dotted
    border-right-style dotted

    > .toggle::before
      width 2rem

  // Phrasesets
  span[data-type=phraseset]
    border-left-style solid
    border-left-width 4px

.dialog
  border-radius 0
  border-width  4px 0 4px 0

  > header
    font-size small
    padding   0 4px 4px 4px

  > form
    input, select, label
      font-size medium
      padding   0.2rem

  .flSearchBox
    font-size smaller
    padding   0.5rem

  .flItemPicker
    font-size smaller

    dt
      padding 0.5rem

    dd
      padding 0.5rem

#phrasesetPicker
  .flItemPicker dd
    font-size smaller
    padding   0.75rem 0.5rem

#stationlistPicker
  .stations
    font-size smaller

    dt
      padding 0.5rem

    dd
      border-radius 0
      margin        0


#settings
  button
    font-size smaller
    height    2rem
    margin    0.5rem

  #btnResetSettings
    flex 1

  #btnSaveSettings
    flex 1

  h1
    font-size large
    padding   0.75rem

  p
    column-count 1
    font-size    smaller
    padding-top  0.5rem

  form
    grid-template-columns 25% 75%

    label, select, input
      font-size medium
      margin    0.75rem

    select
      justify-self end
      overflow     hidden
      width        75%
