/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#settingsScreen
  align-content flex-start
  background    $bgDarkest
  display       flex
  flex-flow     row wrap
  overflow-x    hidden
  overflow-y    auto
  position      absolute
  z-index       500

  top    0
  left   0
  width  100%
  height 100%

  button
    pressable()
    font-size large
    height    48px
    margin    16px

  #btnResetSettings
    flex 4

  #btnSaveSettings
    flex 6

  #btnVoxTest
    grid-column 2

  h1
    unselectable()
    border-bottom  2px solid $fgFocus
    flex           100%
    font-size      xx-large
    padding        16px
    padding-bottom 8px
    margin-bottom  8px

  p
    column-count 2
    column-gap   24px
    flex         100%
    font-size    small
    line-height  175%
    padding      24px
    text-align   justify

  form
    display grid
    flex    1

    grid-template-columns 40% 60%

    label
      unselectable()

    label, select, input
      flex      1
      font-size large
      margin    24px
      width     auto

    select
      justify-self right
      width        75%