/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#settingsScreen
  align-content flex-start
  background    $bgDarkest
  overflow-x    hidden
  overflow-y    auto
  position      absolute
  z-index       500

  top    0
  left   0
  width  100%
  height 100%

  > *
    margin    0 auto
    max-width 640px

  button
    pressable()
    font-size large
    height    48px
    margin    16px

  #btnSpeechTest
    grid-column 2

  h1
    unselectable()
    border-bottom  2px solid $fgFocus
    flex           100%
    font-size      xx-large
    padding        16px
    padding-bottom 8px
    margin-bottom  8px

  form
    align-items center
    display grid
    flex    1

    grid-template-columns 40% 60%

    label, select, input, p
      margin 24px

    label, select, input
      font-size large

    label
      unselectable()

    input[type=checkbox], select
      justify-self right

    input[type=range]
      width auto

    // Select elements do not correctly size on any browser
    select
      width     100%
      max-width 336px

    p
      font-size   smaller
      grid-column span 2
      margin-top  0

  #settingsMenu
    display flex

    #btnResetSettings
      flex 4

    #btnSaveSettings
      flex 6

  #legalBlock
    column-count 2
    column-gap   24px
    flex         100%
    font-size    small
    line-height  175%
    padding      24px
    text-align   justify

    a
      color $fgBrightest

      &:visited
        color $fgDim