/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Styles for the electronic board signage and marquee animation

#signage
  border       0.5em solid
  border-color #222 #444 #444 #222
  background   #000
  color        orange
  font-family  "5by7", sans-serif
  font-size    3em
  min-height   131px
  overflow     hidden
  padding      0.5em
  position     relative
  white-space  nowrap

  > span
    position absolute