/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Styles for the electronic board signage and marquee animation

#marquee
  border       1.5rem solid
  border-color $bgDarker $bgDark $bgDark $bgDarker
  background   $bgDarkest
  color        $fgMarquee
  font-family  "5by7", sans-serif
  font-size    3rem
  min-height   8rem
  overflow     hidden
  padding      1.5rem
  position     relative
  white-space  nowrap

  > span
    position absolute