/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

#toolbar
  flexbox(row, center)
  box-shadow  0 0 18px $bgDarkest
  background  gradient(bottom, $bgDark, 50%, $bgDarker, 100%)
  flex-shrink 0
  padding     4px 0
  z-index     5

  > button
    pressable()
    height  42px
    margin  0 12px
    padding 8px

    svg
      width  24px
      height 24px