/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Must be up here, else global function calls will fail elsewhere (order is important)
@import "../../css/globals"

// CSS reset

*
  margin     0
  padding    0
  box-sizing border-box

body, html
  width      100%
  height     100%
  overflow-x hidden

// Parts

body
  backAndForeColor($bgDarkest, $fgBright)
  flexbox(row)
  font-family sans-serif

h1
  border-bottom 2px solid $fgFocus
  padding       16px



#partSelector
  flex-basis 40%
  overflow   auto

  ul
    unselectable()
    font-size  12px
    list-style none
    margin     16px

    li
      singleLine()
      background    $bgDarker
      cursor        pointer
      margin-bottom 4px
      padding       4px

      &:hover
        background $bgDark

      code
        color $fgDim
        float right

#tapeDeck
  flex-basis 60%

// Hides embedded phraseset XML documents
iframe
  display none