/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Must be up here, else global function calls will fail elsewhere (order is important)
@import "../../css/globals"

// CSS reset

*
  margin     0
  padding    0
  box-sizing border-box

body, html
  width      100%
  height     100%
  overflow-x hidden

// Parts

body
  backAndForeColor($bgDarkest, $fgBright)
  flexbox(row)
  font-family sans-serif

h1
  border-bottom 2px solid $fgFocus
  padding       16px

#partSelector
  flex-basis 40%
  overflow   auto

  menu
    flexbox()
    padding  16px 16px 0 16px
    position sticky
    top      0

    input, button
      font-size large
      padding   8px

    input
      border    none
      flex-grow 1

      &.noMatches
        background lightness($bgPanic, 80%)

  ul
    unselectable()
    font-size  12px
    list-style none
    margin     16px

    li
      singleLine()
      background    $bgDarker
      cursor        pointer
      margin-bottom 4px
      padding       4px

      &:hover
        background $bgDark

      code
        color $fgDim
        float right

      &.missing
        background red($bgDarker, 100)

      &.highlight
        background $bgDark

      &.selected, &.selected code
        backAndForeColor($fgFocus, $fgBrightest)

#tapeDeck
  flex-basis 60%

  #frmSetup
    display grid

    grid-template-columns 20% 30% 20% 30%

    label, select, input
      font-size large
      margin    16px
      width     auto

  #frmTapedeck
    flexbox(column)
    align-items center

    > *
      margin 16px 16px 0 16px

    menu button
      pressable()
      font-size large
      height    48px
      margin    8px
      padding   8px

      svg
        width  32px
        height 32px

    .id
      color       $fgDim
      font-size   large
      font-family monospace

    .caption
      font-size x-large
      height    100px

.clipEditor
  align-self   stretch
  justify-self flex-end
  height       300px
  position     relative

  > *
    position absolute

  .title
    font-size   large
    font-family monospace
    margin-top  8px
    text-align  center
    width       100%

  canvas
    background $bgDarker


// Hides embedded phraseset XML documents
iframe
  display none