/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */
.hidden {
  display: none !important;
}
.warningScreen {
  height: 100%;
  padding: 16px;
  width: 100%;
}
.warningScreen h1 {
  font-style: italic;
}
.warningScreen p,
.warningScreen pre {
  line-height: 150%;
  margin: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background: #000;
  color: #f5f5f5;
  fill: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: sans-serif;
}
h1 {
  border-bottom: 2px solid #cc7e00;
  padding: 16px;
}
#partSelector {
  flex-basis: 40%;
  overflow: auto;
}
#partSelector > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 16px 16px 0 16px;
  position: sticky;
  top: 16px;
  z-index: 10;
}
#partSelector > div input {
  border: none;
  flex-grow: 1;
  font-size: large;
  padding: 8px;
}
#partSelector > div input.noMatches {
  background: #f2a6a6;
}
#partSelector ul {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  list-style: none;
  margin: 16px 12px 16px 16px;
  transform: translate3d(0, 0, 1px);
}
#partSelector ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #222;
  border-right: 4px solid #000;
  cursor: pointer;
  margin-bottom: 4px;
  padding: 4px;
}
#partSelector ul li:hover {
  background: #444;
}
#partSelector ul li code {
  color: #aaa;
  float: right;
}
#partSelector ul li.missing {
  border-right-color: #c21d1d;
}
#partSelector ul li.highlight {
  background: #444;
}
#partSelector ul li.selected,
#partSelector ul li.selected code {
  background: #cc7e00;
  color: #fff;
  fill: #fff;
}
#tapeDeck {
  flex-basis: 60%;
}
#tapeDeck #frmSetup {
  display: grid;
  grid-template-columns: 20% 30% 20% 30%;
}
#tapeDeck #frmSetup label,
#tapeDeck #frmSetup select,
#tapeDeck #frmSetup input {
  font-size: large;
  margin: 16px;
  width: auto;
}
#tapeDeck #frmTapedeck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#tapeDeck #frmTapedeck > * {
  margin: 16px 16px 0 16px;
}
#tapeDeck #frmTapedeck menu button {
  background: #222;
  border: none;
  box-shadow: 0 0 8px #222;
  color: #f5f5f5;
  cursor: pointer;
  fill: #f5f5f5;
  font-size: large;
  height: 48px;
  margin: 8px;
  padding: 8px;
}
#tapeDeck #frmTapedeck menu button:hover {
  background: #444;
}
#tapeDeck #frmTapedeck menu button:active {
  background: #000;
  color: #aaa;
  fill: #aaa;
  box-shadow: 0 0 4px #000 inset;
}
#tapeDeck #frmTapedeck menu button:disabled {
  background: #222;
  color: #444;
  cursor: default;
  fill: #444;
}
#tapeDeck #frmTapedeck menu button:disabled:active {
  background: #222;
}
#tapeDeck #frmTapedeck menu button svg {
  width: 32px;
  height: 32px;
}
#tapeDeck #frmTapedeck menu button.recording {
  background: #ffa500;
  box-shadow: 0px 0px 16px #cc7e00;
}
#tapeDeck #frmTapedeck .id {
  color: #aaa;
  font-size: large;
  font-family: monospace;
}
#tapeDeck #frmTapedeck .caption {
  font-size: x-large;
  height: 100px;
}
.clipEditor {
  align-self: stretch;
  justify-self: flex-end;
  height: 200px;
  position: relative;
}
.clipEditor > * {
  position: absolute;
}
.clipEditor .title {
  font-size: large;
  font-family: monospace;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}
.clipEditor canvas {
  background: #222;
  width: 100%;
  height: 100%;
}
.clipEditor .needle {
  background: #c21d1d;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
}
.clipEditor .clipper {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgba(0,0,0,0.9);
  cursor: ew-resize;
  width: 1px;
  height: 100%;
}
.clipEditor .clipper::after {
  background: #000;
  border: 1px solid #aaa;
  content: ' ';
  position: absolute;
  top: 83px;
  width: 8px;
  height: 29px;
}
.clipEditor .clipper.left {
  border-right: 1px solid #aaa;
  left: 0px;
}
.clipEditor .clipper.left::after {
  right: -5px;
}
.clipEditor .clipper.right {
  border-left: 1px solid #aaa;
  right: 0px;
}
.clipEditor .clipper.right::after {
  left: -5px;
}
.clipEditor .clipper:hover,
.clipEditor .clipper.dragging {
  border-color: #ffa500;
}
.clipEditor .clipper:hover::after,
.clipEditor .clipper.dragging::after {
  background: #cc7e00;
  border-color: #ffa500;
}
.voiceMeter {
  align-self: stretch;
  height: 50px;
}
.voiceMeter canvas {
  background: #222;
  width: 100%;
  height: 100%;
}
iframe {
  display: none;
}
/*# sourceMappingURL=css/vox.css.map */