/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

// Must be up here, else global function calls will fail elsewhere (order is important)
@import "../../css/globals"
@import "../../css/reset"

// Parts

body
  backAndForeColor($bgDarkest, $fgBright)
  flexbox(row)
  font-family sans-serif

h1
  border-bottom 2px solid $fgFocus
  padding       16px

#partSelector
  flexbox(column)
  min-width 40%
  max-width 40%

  .progressBar
    size(-webkit-fill-available, 46px)
    border   2px solid $fgFocus
    margin   16px 16px 0 16px
    position relative

    .bar
      background $fgFocus
      height     100%

    .text
      font-size  x-large
      position   absolute
      text-align center
      top        8px
      width      100%

  .searchBox
    flexbox(column)
    margin     16px 16px 0 16px
    min-height fit-content

    input
      border    none
      flex-grow 1
      font-size large
      padding   8px

      &.noMatches
        background lightness($bgPanic, 80%)

    menu
      flexbox(row, space-around)
      border-bottom 2px solid $fgFocus

      button
        pressable()
        flex-grow   1
        font-family monospace;
        padding     4px

  #orphanWarning
    background $bgPanic
    margin     16px 12px 16px 16px
    min-height fit-content
    padding    8px

  > ul
    unselectable()
    font-size  12px
    list-style none
    overflow   auto
    padding    16px 0 16px 16px
    // Promote to 3D layer, for smoother rendering
    transform  translate3d(0, 0, 1px)

    li
      singleLine()
      background    $bgDarker
      border-right  8px solid $bgDarkest
      cursor        pointer
      margin-bottom 4px
      padding       4px

      &:hover
        background $bgDark

      code
        color $fgDim
        float right

      &.missing
        border-right-color $bgPanic

      &.highlight
        background $bgDark

      &.selected, &.selected code
        backAndForeColor($fgFocus, $fgBright)

#tapeDeck
  max-width 60%

  #frmSetup
    display grid

    grid-template-columns 20% 30% 20% 30%

    label, select, input
      font-size large
      margin    16px
      width     auto

    spacer
      grid-column-start span 2

    #inputScript
      font-family       monospace
      grid-column-start span 3

    &.saved select, &.saved input
      animation saved 1s

  #frmTapedeck
    flexbox(column)
    align-items center

    > *
      margin 16px 16px 0 16px

    menu button
      pressable()
      font-size large
      height    40px
      margin    8px
      padding   8px

      svg
        size(24px)

      &.recording, &.savePending
        background $fgMarquee
        box-shadow 0 0 16px $fgFocus

    .id
      color       $fgDim
      font-size   large
      font-family monospace

    #phrasePreviewer
      color     $fgDim
      font-size x-large
      height    100px

      > *
        margin  0 4px
        padding 0 4px

      .highlight
        border        solid $fgBright
        border-radius 8px
        border-width  0 2px
        color         $fgBright
        padding       0 4px

      span[data-key]:hover
        background $bgDarker
        cursor     pointer

      [collapsed]
        display none

.clipEditor
  align-self   stretch
  height       200px
  justify-self flex-end
  position     relative

  > *
    position absolute

  > span
    font-family monospace
    margin      8px
    text-align  center
    text-shadow 0 0 10px $bgDarkest
    width       100%
    word-break  break-all

    &.subtitle
      bottom 0

  canvas
    size()
    background $bgDarker

  .needle
    pos()
    size(2px, 100%)
    background $bgPanic

  .clipper
    size(1px, 100%)
    unselectable()
    background alpha($bgDarkest, 0.75)
    cursor     ew-resize

    &::after
      size(8px, 30px)
      background $bgDarkest
      border     1px solid $fgDim
      content    ' '
      position   absolute
      top        140px

    &.left
      border-right 1px solid $fgDim
      left         0

      &::after
        right -5px

    &.right
      border-left 1px solid $fgDim
      right       0

      &::after
        left -5px

    &:hover, &.dragging
      border-color $fgMarquee

      &::after
        background   $fgFocus
        border-color $fgMarquee

.voiceMeter
  align-self stretch
  height     50px

  canvas
    size()
    background $bgDarker

// Hides embedded phraseset XML documents
iframe
  display none

// Animations

@keyframes saved
  from
    background greenyellow

  to
    background $fgBright