/** Rail Announcements Generator. By Roy Curtis, MIT license, 2018 */

body.ios
  // Workaround for click events not bubbling in iOS
  // http://gravitydept.com/blog/js-click-event-bubbling-on-ios
  *
    cursor pointer !important

  // Fix overflow elements not scrolling properly in Safari
  #settingsScreen, #editor, .chChoicesBox, .stationList
    -webkit-overflow-scrolling touch

  // Fix for iOS visual garbage on editor elements beyond the scrolling area
  // https://stackoverflow.com/a/43636308
  #editor span
      perspective         1000
      -webkit-perspective 1000
      transform           translate3d(0, 0, 0)
      -webkit-transform   translate3d(0, 0, 0)

  // Sticky headers require a vendor prefix on Safari
  .chChoicesBox dt
    position -webkit-sticky